.charts-analytics{
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.bar,.line{
    height: 50vh;
    width: 45vw;
}
.bar > div > h3{
    font-family: 'Source Sans Pro';
    color: #192839;
    font-size: 3em;
    font-weight: 900;
    position: absolute  ;
    top: 70%;
    left: 10%;
}
.bar > div > h3 > span{
    color: #41D3BD;
}
.line > div > h3 > span{
    color: #41D3BD;
}
.line > div > h3{
    font-family: 'Source Sans Pro';
    color: #192839;
    font-size: 3em;
    font-weight: 900;
    position: absolute  ;
    top: 70%;
    left: 63%;
}