.Signup-Page{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
.middle-portion{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3%;
}
.Main-heading > p{
    font-family: 'Source Sans Pro';
    color: #192839;
    font-size: 5em;
    font-weight: 900;
    position: relative;
    left: -9%;
}
.Main-heading{
    height: 47vh;
    width: 34vw;
}
.Main-heading > p > span{
    color: #41D3BD;
}
.input-login{
    height: 47vh;
    width: 54vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -5%;
    flex-direction: column;
    left: 3%;
}
.input-field{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    color: #2b4057f3;
    font-size: 1.2em;
    padding: 3%;
    padding-left: 4%;
    width: 21vw;
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
    padding-right: 12%;
}
.email,.password,.cpassword{
    position: absolute;
    top: 19%;
    left: 28%;
}
.password{
    top: 42%;
}
.cpassword{
    top: 66%;
}
.alerts{
    color: rgb(199, 11, 11);
    position: absolute;
    top: 103%;
    font-family: 'Source Sans Pro';
    font-size: 17px;
    left: 2%;
    width: 28vw;
}
.signup-btn {
    position: absolute;
    width: 22vw;
    height: 7vh;
    left: 27.5%;
    top: 90%;
    border-radius: 100px;
    border: 1px solid transparent;
    background-color: #41D3BD;
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-size: 1.6em;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgb(108 187 134 / 49%);
}

.login-head{
    position: absolute;
    top: 108%;
    left: 36.5%;
    font-family: 'Source Sans Pro';
    font-size: 1.3em;
}
.login-head > u{
    cursor: pointer;
    color: #41D3BD;
}
.pic{
    margin-top: 2%;
    height: 265px;
    width: 100vw;
}
#passlock{
    position: absolute;
    z-index: 1;
    right: 11px;
    top: 9px;
    font-size: 24px;
    cursor: pointer;
}